<section>
    <div class="d-lg-flex pb-5">
        <div class="col-12 col-lg-9 pe-lg-4">
            <div class="pb-4">
                <img src="assets/images/image-web-3-mobile.jpg" alt="image" class="img-fluid d-md-none">
                <img src="assets/images/image-web-3-desktop.jpg" alt="image" class="img-fluid d-none d-md-block">
            </div>
            <div class="d-md-flex justify-content-between">
                <div class="col-12 col-md-6 pe-5">
                    <h1 class="fw-bold display-5 pe-5">The Bright Future of Web 3.0?</h1>
                </div>
                <div class="col-12 col-md-6 pb-5 pb-lg-0 mb-4 mb-lg-0">
                    <p class="text-success pb-4 pb-md-5 mb-2 mb-md-0">We dive into the next evoluation of the web that
                        claims
                        to put the
                        power of the platforms back into the hands of the people. But is it really fullfilling its
                        promises?</p>
                    <button class="btn read-more-button text-white rounded-0 px-4 py-2">READ MORE</button>
                </div>
            </div>
        </div>
        <div class="bg-secondary col-12 col-lg-3 p-4">
            <h1 class="text-warning fw-bold pb-4">NEW</h1>
            <div class="border-info border-bottom pb-4">
                <h5 class="card-header fw-bold cursor-pointer pb-1">Hydrogen VS Electric Cars</h5>
                <p class="text-success mb-0">Will hydrogen-fueled cars ever catch up to EVs?</p>
            </div>
            <div class="border-info border-bottom py-4">
                <h5 class="card-header fw-bold cursor-pointer pb-1">The Downsides of All Artistry</h5>
                <p class="text-success mb-0">What are the possible adverts effects of on-demand AI image generation?</p>
            </div>
            <div class="pt-4">
                <h5 class="card-header fw-bold cursor-pointer pb-1">Is VC Funding Drying Up?</h5>
                <p class="text-success mb-0">Private funding by VC firms down 50% YOY. We take a look at what that
                    means.</p>
            </div>
        </div>
    </div>

    <div class="d-md-flex flex-wrap pt-5">
        <div class="col-12 col-lg-6 col-xl-4 d-flex pb-5 pb-lg-0">
            <div>
                <img src="assets/images/image-retro-pcs.jpg" alt="Retro PC" class="img-fluid">
            </div>
            <div class="ps-4">
                <h1 class="text-success fw-bold pb-2">01</h1>
                <h5 class="text-header fw-bold cursor-pointer pb-2">Reviving Retro PCs</h5>
                <p class="text-success mb-0">What happens when old PCs are given modern upgrades?</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 d-flex pb-5 pb-lg-0">
            <div>
                <img src="assets/images/image-top-laptops.jpg" alt="Laptops" class="img-fluid">
            </div>
            <div class="ps-4">
                <h1 class="text-success fw-bold pb-2">02</h1>
                <h5 class="text-header fw-bold cursor-pointer pb-2">Top 10 Laptops of 2022</h5>
                <p class="text-success mb-0">Our best picks for various needs and budgets.</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 d-flex pt-lg-5 pt-xl-0 pb-5 pb-lg-0">
            <div>
                <img src="assets/images/image-gaming-growth.jpg" alt="Growth" class="img-fluid">
            </div>
            <div class="ps-4">
                <h1 class="text-success fw-bold pb-2">03</h1>
                <h5 class="text-header fw-bold cursor-pointer pb-2">The Growth of Gaming</h5>
                <p class="text-success mb-0">How the pandemic has sparked fresh opportunities.</p>
            </div>
        </div>
    </div>
</section>