<header class="d-flex justify-content-between align-items-center pb-5">
    <div>
        <img src="assets/images/logo.svg" alt="logo">
    </div>
    <div>
        <label for="menu"><img src="assets/images/icon-menu.svg" alt="menu" class="d-block d-md-none"></label>
        <ul class="d-none d-md-flex text-success ps-0 mb-0">
            <li class="pe-5">
                <a>Home</a>
            </li>
            <li class="pe-5">
                <a>New</a>
            </li>
            <li class="pe-5">
                <a>Popular</a>
            </li>
            <li class="pe-5">
                <a>Trending</a>
            </li>
            <li>
                <a>Categories</a>
            </li>
        </ul>
    </div>
</header>