<aside class="h-100 p-4">
    <label for="menu" class="d-flex justify-content-end">
        <img src="assets/images/icon-menu-close.svg" alt="icon-cross" class="cursor-pointer">
    </label>
    <nav class="nav d-flex flex-column text-nowrap flex-nowrap flex-column overflow-y-auto h-100">
        <ul class="ps-0 mb-0">
            <li class="nav-item">
                <a class="nav-link text-dark fs-4">
                    <span>Home</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark fs-4">
                    <span>New</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fs-4">
                    <span>Popular</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fs-4">
                    <span>Trending</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fs-4">
                    <span>Categories</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>